body {
  background-color: #f5f5dc; /* Fondo crema claro */
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#logg {
 
  background-color: #1a1a1a; /* Fondo del formulario oscuro */
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  display: block;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
